{src_dirs, ["src"]}.
{deps, [
%%     {mochiweb, {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}},
%%     {pink_hash, {git, "https://github.com/BumblebeeBat/pink_crypto", {branch, "partial_hash_problem"}}}
  ]
}.

{erl_opts, [
  no_debug_info
%%  {parse_transform, lager_transform}
]}.

{eunit_opts, [verbose]}.

{cover_enabled, false}.

